<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-mindpowered" version="0.0.1">
    <name>Cordova Plugin from Mind Powered Corporation</name>
    <description>Contains Packages by Mind Powered Corporation</description>
    <license>CPAL-1.0</license>
    <keywords></keywords>
</plugin>
